body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #E5E4E2;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: blue; /* Set the link color to blue */
    text-decoration: none; /* Remove the underline from links */
}

a:hover {
    text-decoration: underline; /* Add underline on hover (optional) */
}

a:visited {
    color: blue; /* Set the visited link color to blue */
}

.table-scroll-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scroll bar when content overflows */
}

/* Optional: Style the table header to make it fixed */
.table-scroll-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-scroll-container table thead {
    position: sticky;
    top: 0;
}

.container {
    background-color: #EBF5FB;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    transform: rotate(-45deg);
    z-index: -1;
}

.file-info {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    position: relative;
    background-color: #f8f8f8;
}

.file-info:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: -1;
}

.file-info p:first-child {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.file-info p {
    margin: 5px 0;
    color: #555;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.file-upload {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.file-upload input[type="file"] {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-upload .button,
.submit-button {
    padding: 15px 30px;
    font-size: 25px;
    background-color: #3498db;
    display: inline-block;
    color: #fff;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.file-upload .button:hover,
.submit-button:hover {
    background-color: #1e87db;
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button {
    margin-top: 10px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.loading-message {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 100px auto 0;
    animation: blink-animation 5s infinite;
}

@keyframes blink-animation {
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    animation: loader-progress 2s ease-in-out infinite;
}

@keyframes loader-progress {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Reset default table styles */
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Style table container */
.table-container {
    width: 100%; /* Set a fixed width or any appropriate value */
    max-width: 100%;
    overflow-x: auto;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Add border and padding to table cells */
table, th, td {
    border: 1px solid #0C090A;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* Style table header */
thead {
    background-color: #AEB6BF;
}

th {
    font-weight: bold;
    text-align: center;
}

/* Alternate row colors for better readability */
tbody tr:nth-child(odd) {
    background-color: #FFFFFE; /* Color for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #ECF0F1; /* Color for even rows */
}

/* Hover effect on rows */
tbody tr:hover {
    background-color: #D6EAF8;
}

.header-row {
    background-color: #ddd;
}

/* Style for the select element (hidden) */
#serialNumberDropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 70px;
}

/* Style for the dropdown arrow */
#serialNumberDropdown::after {
    content: "\25BC"; /* Downward-pointing arrow character */
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Hover effect for the dropdown container */
.dropdown-container:hover #serialNumberDropdown {
    border-color: #2980b9;
}

/* Style for the dropdown options container */
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #3498db;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
}

/* Style for the dropdown options */
#serialNumberDropdown option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #3498db;
    transition: background-color 0.3s;
}

/* Style for the selected option */
#serialNumberDropdown option:checked {
    background-color: #3498db;
    color: #fff;
}

/* Hover effect for the dropdown options */
#serialNumberDropdown option:hover {
    background-color: #2980b9;
    color: #fff;
}

/* Style for selected option in the dropdown menu */
#serialNumberDropdown option:checked {
    background-color: #3498db;
    color: #fff;
}

/* Style for the selected option in the dropdown menu when hovering */
#serialNumberDropdown option:checked:hover {
    background-color: #2980b9;
}
